<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>body</key>
	<string>What a week it might have been?

Speeches and interviews have made it fairly clear that Federal Reserve officials were building a case to begin normalizing interest rate policy as soon as this month, but they are increasingly wary that a misstep could derail the economy at a time when they perceive a lack of tools to address renewed weakness.

Another concern related to the risk of premature policy tightening was the limited ability of monetary policy to offset downside shocks to inflation and economic activity when the federal funds rate was near its effective lower bound.

This concern will weigh heavily on the policy discussion as the Fed begins what promises to be a tumultuous two-day meeting this week. While the central bank was likely prepared to raise interest rates this month at the conclusion of the last FOMC meeting, deteriorating global economic conditions and market volatility will likely derail those plans.

Nor is the inflation picture particularly supportive at this juncture. Consequently, I anticipate the FOMC will choose to hold rates steady. But expect the FOMC statement and subsequent press conference with Fed Chair Janet Yellen to strongly indicate that policymakers still intend to raise rates this year.
Whether they will be able to carry out that intention, however, remains in doubt.

The core of this week’s debate will revolve around policymakers&apos; confidence that inflation will revert to its targeted 2 percent. On one side will be those arguing that economic activity remains sufficient to achieve further improvement in labor markets. Such improvement will soon drive wages higher, which in turn will propel inflation back to target. To ensure that inflation does not overshoot, the Fed&apos;s unusual program of financial accommodation needs to be withdrawn. To achieve a slow pace of subsequent rates hikes, the Fed needs to start sooner rather than later.

In contrast, others will argue that price measures remain the best indicators of the level of &quot;slack&apos;&quot; that remains in the economy. Both low wage growth and low inflation indicate that the economy is operating far from its full potential, validating the hypothesis that measures of underemployment are important metrics of labor market health. Thus there is little reason to expect that inflation will soon return to trend. Furthermore, given that inflation continues to move away from trend, there is certainly no imminent need for a rate hike.

At the time of the last FOMC meeting in June, I expected that the former argument would have the upper hand come the September meeting. Intensification of financial turbulence consistent with deteriorating economic activity abroad has most likely shifted the committee to the latter position. The key, I think, is that the costs of being wrong by holding steady are much less than the costs of being wrong from hiking.

How does market turbulence then affect this calculus?

Recent activity—a stronger dollar, wider credit spreads, and falling equity prices—indicate a tightening of financial conditions. Ultimately, the Fed will be wary of adding to that tightening with a rate hike.

While I think it is premature to draw too many parallels to the Asian Financial Crisis, the Fed will remember that it was forced to respond to that particular bout of emerging market turmoil with 75 basis points of rate cuts. With rates currently hovering around zero, that is 75 bps they don’t have to work with now. It&apos;s worth reemphasizing that the Fed is evaluating policy in the context of the zero bound. The zero bound means there is no margin for error on the downside. The Fed will not want to hike rates in the face of a growing risk that it will need to reverse course in short order.

In addition to market turmoil, there is reason to believe that the deteriorating inflation picture could have been enough by itself to give Yellen pause when considering a rate hike at this juncture. From May:

“I have argued that a pickup in neither wage nor price inflation is indispensable for me to achieve reasonable confidence that inflation will move back to 2 percent over time. That said, I would be uncomfortable raising the federal funds rate if readings on wage growth, core consumer prices, and other indicators of underlying inflation pressures were to weaken, if market-based measures of inflation compensation were to fall appreciably further, or if survey-based measures were to begin to decline noticeably”

Moreover, recent readings on import prices and producer prices suggest that more of those “temporary” deflationary factors are working their way through the system. It seems like these signals would sap Yellen&apos;s confidence that inflation will soon trend toward target.

My expectation is that the FOMC statement will give praise to the U.S. economy but cite growing downside risks emanating from the rest of the world as justification for holding rates steady. It will leave the door wide open, however, for a rate hike in October or December.

This will be especially evident in Yellen’s press conference. The FOMC will see holding steady as a delay to its plans but not an admission that rate hikes are off the table for this year. Yellen will try to make this point clear. Watch for Yellen to push back strongly on the idea that the Fed can’t hike rates in October due to a lack of a press conference accompanying the meeting. The committee would like to set expectations such that October is an option.

When reviewing the Fed&apos;s Summary of Economic Projections, remember that it will include not just the central tendency of the projections but also the medians. This will provide additional information on the distribution of the participants&apos; views. In addition, the Fed will drop the histogram of the preferred timing of liftoff. I will be watching most closely the long-run projections of the unemployment rate as it conforms to the committee&apos;s estimates of the natural rate of unemployment. How much, if any, is it changing given that wage growth and inflation pressures are largely absent even though unemployment is at the Fed’s current estimate of the natural rate? Conviction in the current estimate would be a sure sign the FOMC finger remains poised over the rates button, so to speak. Still, be aware that even as the Fed might strengthen its case for a rate hike this year, the secular stagnation story might creep further in the longer-term projection for interest rates.

A decision to hold steady, however, is not certain, nor would it go unchallenged within the FOMC. I expect this will be a contentious meeting. Policymakers have sent repeated signals over the course of this year that they want to raise interest rates, and thus there remains a risk that they may prove more hawkish than I anticipate. And, assuming that the Fed holds at zero, there will almost certainly be a dissent by Richmond Federal Reserve President Jeffrey Lacker, who has been patiently waiting for his hike for at least two meetings now. His recent speech, “The Case Against Further Delay,” makes his position quite clear.

Bottom Line: The Federal Reserve is looking for a time with minimal downside risks to raise interest rates. The wavering global economy is likely creating enough downside risk to defer that first hike to a later meeting. But the Fed still wants to begin normalizing policy, and it will signal that it remains committed to a rate hike this year. Regardless of the global situation and the inflation picture, I suspect it will feel increasingly compelled to do just that as the unemployment rate drifts below 5 percent.</string>
	<key>date</key>
	<string>September 15, 2015 — 5:00 AM EDT</string>
	<key>author</key>
	<string>Timothy A Duy</string>
	<key>subhead</key>
	<string>Market turmoil means moving from the zero bound gets even trickier.</string>
	<key>headline</key>
	<string>Why the Fed Is Likely to Stand Pat This Week</string>
</dict>
</plist>
